
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


body{   
background: white;
font-family: 'Zalando Sans Expanded';
}

h1,
h2{
    text-align: center;
}

img{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(1.1);
}

p{
     text-align: center;
    background: coral;
    width: 70%;
    margin: auto;
    font-size: 22px;
    padding: 20px;
    border-radius: 8px;
    color: white

}

p:hover{
    background: tomato}


h3{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

ul, ol{
    width: 80%;
    margin: auto;
    padding: 20px;
}

ol{
    background: #f0f0f0;
}

a{
    background: tomato;
    color: white;
    padding: 20px;
    display: block;
    margin: 40px auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
}

#maps{
    margin: 40px auto;
    width: 100%;
    height: 450px;
}

#maps iframe{
    width: 100%;
    height: 100%;
}

#formContainer{
    width: 100%;
    background: #f0f0f0;
    padding: 50px 0;
    margin: 40% auto;
}

#formContainer form{
    width: 80%;
    margin: auto;

}

#formcontainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}

#formcontainer input, #formcontainer textarea{
    display: block;
    border: 2px solid #fafafa;
    border-radius: 8px;
    height: 10px;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    margin-bottom: 15px;
}

#formcontainer textarea{
    height: 100px;
}