
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


body{   
background: green;
font-family: 'Zalando Sans Expanded';
}

h1,
h2{
    text-align: center;
}

img{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(1.1);
}

p{
    text-align: center;
    background: coral;
    width: 70%;
    margin: auto
    font-size: 22px;
    padding: 20px
    border-radius: 8px;
    color: white;

}

<<<<<<< Updated upstream
p: haver{
    background: tomato
}

=======
>>>>>>> Stashed changes
h3{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

ul, ol{
    width: 80%
    margin: auto;
    padding: 20px;
}

ol{
    background: #f0f0f0;
}

a{
    background: tomato;
    color: white;
    padding: 20px;
    display: block;
    margin: 40px auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
}